@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DarlingtonDemo';
  src: url('/fonts/DarlingtonDemo.woff2') format('woff2'),
       url('/fonts/DarlingtonDemo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMono';
  src: url('/fonts/GeistMonoVF.woff') format('woff'),
       url('/fonts/GeistMonoVF.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@keyframes border-shine {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

:root {
  --background: #0C0C0C;
  --foreground: #F5F5F5;
  --card: #1E1E1E;
  --card-foreground: #F5F5F5;
  --popover: #1E1E1E;
  --popover-foreground: #F5F5F5;
  --primary: #F5F5F5;
  --primary-foreground: #121212;
  --secondary: #1E1E1E;
  --secondary-foreground: #F5F5F5;
  --muted: #1E1E1E;
  --muted-foreground: #A1A1A1;
  --accent: #1E1E1E;
  --accent-foreground: #F5F5F5;
  --destructive: #821717;
  --destructive-foreground: #F5F5F5;
  --border: #1E1E1E;
  --input: #1E1E1E;
  --ring: #F5F5F5;
  --radius: 0.5rem;
}

* {
  border-color: var(--border);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}